<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnRisky="true"
	failOnWarning="true"
	>
	<testsuites>
		<testsuite name="screenly-cast">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">screenly-cast/inc</directory>
		</include>
	</coverage>
</phpunit>
